/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

/* Change the size of all images for responsive design. */
main img {
  width: 100%;
}

img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav {
  /* Changes teh display property from default to `flex`. */
  display: flex;
  flex-direction: row;
  /* Center the element defined as `display: flex`. */
  justify-content: center;
}

header nav ul {
  /* Changes the display property from its default to `flex`. */
  display: flex;
  /* Removes the default padding to the left of the unordered list.*/
  padding-left: 0;
  /* Removes the bullet points from the list items within the unordered list.*/
  list-style: none;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li:last-child a {
  /*Removes the margin to the right of the last anchor tag so that the nav appears centered. */
  margin-right: 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  /* Added `position: relative`. */
  position: relative;
  /* Changes the display property from `default` to `flex`. */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border: 2px solid #ff385c;
  padding: 10px;
}

/* Separate the form-label and the form-input. */
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.form-row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
}

.form-row > input,
.form-row > select {
  flex: 2;
}

.form-row > button {
  flex: 3;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* ------- About -------*/
#about.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*-------- Ideas ----------*/
#ideas.group {
  display: flex;
  flex-direction: column;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {
  header {
    /* Changes the default setting from `block` to `flex`. */
    display: flex;
    /* Pushes the items (the title and nav) to the far sides of the browser. */
    justify-content: space-between;
  }

  header nav {
    /* Change font-size for larger screens. */
    font-size: 24px;
  }

  form {
    /* Change display of form to a row. */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .form-row > button {
    flex: 2;
  }

  /*------About-------*/
  .group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  #item1,
  #item2 {
    flex: 1;
    margin: 1vw 1%;
    width: 30%;
  }

  /*------Ideas-------*/

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
  }
  .sub-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  #item4 {
    flex: 1;
    margin: 1vw 1%;
    width: 50%;
  }

  #item5 {
    flex: 1;
    margin: 1vw 1%;
    width: 50%;
  }

  #item6 {
    flex: 1;
    margin: 1vw 1%;
    width: 50%;
  }

  #item7 {
    flex: 1;
    margin: 1vw 1%;
    width: 50%;
  }


}
